.knowledges {
    padding: 0 5px;
    .knowledgesContent {
        min-height: auto;
        width: 100%;
        background: $perso-color-tansp2;
        border-radius: 25px;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 15px;
        justify-content: space-around;

        .languagesFrameworks,
        .otherSkills,
        .hobbies {
            background: $perso-color-transp;
            border-radius: $perso-borderRadius;
            padding: .8rem;
        }

        h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            font-family: $perso-font-2;
            color: $perso-color-5;
            text-transform: uppercase;
        }

        .languagesFrameworks {
            width: 50%;

            display: flex;
            flex-direction: column;
            row-gap: 31px;

            h3 {
                margin-bottom: 0.3rem;
            }

            .languagesList {
                padding-top: 1.5rem;

                li {
                    color: $perso-color-1;
                }

                .container-progressBar {
                    color: $perso-color-1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .progressBar {
                    height: .4rem;
                    background: transparent;
                    border-radius: 50px;
                    margin-top: 0.2rem;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        background: $perso-color-3;
                        border-radius: 50px;
                        height: .4rem;
                        width: 0;
                        animation: line 2s ease-out forwards;

                        @keyframes line {
                            to {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .container-other-hobbie {
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            
            .otherSkills {
                width: 300px;
                height: 278px;
                margin: auto;
    
                h3 {
                    text-align: center;
                }
    
                .list {
                    display: flex;
                    height: 100%;
                    justify-content: center;
    
                    ul {
                        height: 80%;
                        display: grid;
    
                        i {
                            margin-right: 8px;
                            color: $perso-color-5;
                        }
                    }
                }
            }
            
            .hobbies {
                width: 90%;
                height: 278px;
                margin: auto;
                padding-left: 1rem;
    
                h3 {
                    text-align: center;
                }
    
                ul {
                    height: 80%;
                    display: grid;
    
                    li {
                        i {
                            position: absolute;
                            color: $perso-color-5;
                        }
    
                        i + p {
                            transform: translateX(1.5rem);
                        }
                    }
                }
            }
        }


    }
    @media (max-width: 964px) {
        .knowledgesContent {
            .container-other-hobbie {
                width: 47%;
            }
        }
    }

    @media (max-width: 764px) {
        padding: 2px;
        margin: 0rem auto !important;

        .knowledgesContent {
            flex-direction: column;

            .languagesFrameworks {
                margin: auto;
                width: 90%;
            }
            .container-other-hobbie {
                row-gap: 20px;
                width: 90%;
            }
        }
    }

}